#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
#info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: white;
    transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 -1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 -1px 4px rgba(0,0,0,0.2);
}

#info.minified {
    height: 110px;
}

#info.minified.open {
    height: 500px;
}

#info.open #description {
    opacity: 1;
}

#title {
    font-size: 20px;
    line-height: 25px;
}

#subtitle {
    margin-top: 8px;
    font-size: 14px;
}

#tap-area {
    padding: 20px 15px;
}

#description {
    padding: 0 15px 20px;
    color: #808080;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    line-height: 20px;
}

#description br {
    display: block;
    display: block;
    content: "";
    margin-top: 8px;
}

#info-arrow {
    position: absolute;
    width: 12px;
    height: 8px;
    top: 30px;
    right: 40px;
    background: url("images/arrow.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

#info.open #info-arrow {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
}

#info.closing #info-arrow {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
}

#location-center {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    opacity: 1;
    -webkit-transition: opacity 0.2s, visibility 0.2s;
    -moz-transition: opacity 0.2s, visibility 0.2s;
    -ms-transition: opacity 0.2s, visibility 0.2s;
    -o-transition: opacity 0.2s, visibility 0.2s;
    transition: opacity 0.2s, visibility 0.2s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 4px  rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    top: -72px;
    right: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#location-center:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    background: url("images/center.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

#location-center:active, #location-center.loading {
    opacity: 0.7;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#info.open #location-center {
    opacity: 0;
    visibility: hidden;
}

#info a {
    color: #0E998B;
    text-decoration: none;
    font-weight: 500;
}